body
{
	background-color:#D6D6D6;
	padding:0;
	border:0;
	margin:0;
	font-size:22px;
	font-family:'Lato', Arial, sans-serif
}
p
{
	margin-top:0;
}

/*The header*/
header
{
	line-height:75px;
	font-size:50px;
	vertical-align:middle;
	background-color: #FFFFFF;
	
	-webkit-box-shadow: 0px 8px 0px 0px rgba(84,81,71,0.16);
	-moz-box-shadow: 0px 8px 0px 0px rgba(84,81,71,0.16);
	box-shadow: 0px 8px 0px 0px rgba(84,81,71,0.16);
}
header > div.bg
{
	background-color: #FFD800;
	background-image: url('./headerStripe.png');
	height:20px;
}

main
{
	margin:0;
	margin-left:auto;
	margin-right:auto;
	margin-top:60px;
	max-width:1200px;
	min-width:600px;
}
div.stylePanel
{
	padding:7px;
	background-color: #FFFFFF;
	
	-webkit-box-shadow: 9px 8px 0px 0px rgba(84,81,71,0.16);
	-moz-box-shadow: 9px 8px 0px 0px rgba(84,81,71,0.16);
	box-shadow: 9px 8px 0px 0px rgba(84,81,71,0.16);
}

div.stylePanelMargins
{
	margin-top:20px;
}


/*The visual search box*/
#searchContainer
{
	
}
#searchControl
{
	margin:0;
	float:left;
	margin-right:20px;
	width:300px;
	min-height:300px;
}
#searchVisual
{
	margin:0;
	position:relative;
	overflow:hidden;
	min-height:300px;
}

#searchVisual div.term:not(.rootTerm)
{
	position:relative;
	display:inline-block;
	
	margin:4px;
	padding:4px;
	border:solid #000000 1px;
	background-color: #D0D0D0;
	cursor: pointer;
}
#searchVisual div.term.rootTerm
{
	min-height:300px;
}
#searchVisual div.term.rootTerm.emptyListTerm
{
	background-image:url("./clickToStart.png");
	background-repeat:no-repeat;
	background-position: 50% 50%;
}
#searchVisual div.term.hover
{
	background-color: #F5F5F5;
}
#searchVisual div.term.dbTerm:not(.rootTerm)
{
	padding-top:12px;
}
#searchVisual div.term.listTerm:not(.rootTerm)
{
	padding-top:8px;
}
#searchVisual div.term.join
{
	border: 0;
}
#searchVisual div.term.not
{
	background-color:#F2CCCC;
}
#searchVisual div.term.not.hover
{
	background-color:#F6D0D0;
}
#searchVisual div.term.focus, #searchVisual div.term.focus.not, #searchVisual div.term.focus.not.hover
{
	background-color:#EEEED0;
}
#searchVisual div.term > div.uprLeft
{
	pointer-events:none;
	position:absolute;
	left:0;
	top:0;
	font-size:10px;
	font-weight:bold;
	font-family:Arial, Sans-Serif;
}

/*Buttons*/
.goButton, .cancelButton {
	background-color:#44c767;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:20px;
	padding:5px 50px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.goButton:hover {
	background-color:#a6e0b2;
}
.goButton:active, .cancelButton:active {
	position:relative;
	top:1px;
}
.cancelButton {
	background-color:#c74545;
	border:1px solid #ab1919;
}
.cancelButton:hover {
	background-color:#dea6a6;
}

table td
{
	padding-left:10px;
	padding-right:10px;
}
table tr:first-child
{
	background-color:#FFFFFF;
}